@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background: linear-gradient(to right, #706fb7, #9e9dba);
    margin: 0%;
    padding: 0%
}
.top{
    background-image: url("/static/img/About.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}
.head{
    position: relative; /* Ensure the content is stacked above the overlay */
    z-index: 2; /* Ensure the content is above the overlay */
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin: 200px;
    margin-bottom: 0%;
    color: white;
    text-align: center;
    font-weight: bold
}
.sec{
    position: relative; /* Ensure the content is stacked above the overlay */
    z-index: 2; /* Ensure the content is above the overlay */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 200px;
    color: white;
    text-align: center 
}
.top::after {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5) to make the overlay darker or lighter */
    z-index: 1; /* Ensure the overlay is above the background image */
}
nav{
    position: relative; /* Ensure the content is stacked above the overlay */
    z-index: 2; /* Ensure the content is above the overlay */
    display: flex;
    box-sizing: border-box;
    height: 56px;
    align-items: center;
    padding-left: 2%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 7%;
    margin-right: 9%;
    margin-top: 2%;
}
nav ul{
    color: white;
    display: flex;
    flex-direction: row;
    height: 56px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
nav a{
    color: white;
    font-family: "Poppins",cursive;
    font-weight:bold;
}
nav button
{
    width: 157px;
    height: 56px;
    border-radius: 0;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    color: white; /* Change text color to blue when hovered */
    text-decoration: underline; /* Add underline when hovered */
    background-color: plum;
}
.AboutUs{
    width: 80%;
    height: 100%;
    margin: 10%;
}
.sub{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin: 20px;
    color: white;
    text-align: justify;
}
.SubtFirst{
    margin-left: 5%;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
}
.subtopics1 {
    padding-left: 10%;
    flex: 1; /* Adjust flex */
    margin: 50px;
}
.subtopics1 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}
.subtopics1 p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
}
.img1{
    flex: 1;
    text-align: right;
}
.SubtFirst img{
    width: 500px;
    padding-right: 20%;
}
.SubtSec{
    margin-left: 7%;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
}
.subtopics2 {
    padding-left: 10%;
    flex: 1; /* Adjust flex */
    margin: 50px;
}
.subtopics2 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}
.subtopics2 p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
}
.img2{
    flex: 1;
    text-align: right;
}
.SubtSec img{
    width: 500px;
    padding-right: 17%;
}
input[type=text], input[type=date], input[type=int], select {
    position: relative;
    width: calc(100%/ 12*12);
    padding: 0.5%;
    margin: 1%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label {
    display: block;
  }

 label[for="bookinfotitle"] {
    font-size: 30px;
    margin-top: 3%;
    margin-left: 2%;
 }

 .main {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
 }
 .bookform2 {
    width: calc(100%/ 12 * 12);
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 600px;
    height: 170%;

 }

 .form2 {
    margin-left: 5%;
 }

.close {
    color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

 .name {
    display: flex;
    margin-left: 5%;
 }

 .namefirst {
    position: relative;
    width: calc(100%/ 12*5);
 }
 .namelast {
    float: right;
    position: relative;
    margin-left: 10%;
    margin-top: 2%;
    width: calc(100%/ 12*5);
 }

 .mailnum {
    display: flex;
    margin-left: 5%;
 }

 .emails {
    position: relative;
    width: calc(100%/ 12*5);
    margin-top: 3%;
 }

 .phonenumber {
    float: right;
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
    width: calc(100%/ 12*5);
 }

 .third {
    display: flex;
    margin-left: 5%;
 }

 .streetadd {
    position: relative;
    width: calc(100%/ 12*11);
    margin-top: 3%;
    margin-left: 4%;
 }
 
 .citystate {
    display: flex;
    margin-left: 5%;
 }

 .cy {
    position: relative;
    width: calc(100%/ 12*5);
    margin-top: 3%;
 }

 .sta {
    float: right;
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
    width: calc(100%/ 12*5);
 }
 .postalcode {
    position: relative;
    width: calc(100%/ 12*11);
    margin-top: 3%;
    margin-left: 4%;
 }

.calendar {
    display: flex;
    margin-left: 5%;
}
.cid {
    position: relative;
    width: calc(100%/ 12*5);
    margin-top: 2%;
}
.cod {
    float: right;
    position: relative;
    margin-left: 10%;
    margin-top: 2%;
    width: calc(100%/ 12*5);
}

.roomandnum {
    display: flex;
    margin-left: 5%;
 }

 .rooms {
    position: relative;
    width: calc(100%/ 12*5);
    margin-top: 3%;
 }

 .numberguest {
    float: right;
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
    width: calc(100%/ 12*5);
 }

 .not {
    position: relative;
    width: calc(100%/ 12*11);
    margin-top: 3%;
    margin-left: 4%;
 }
 .reg {
    position: relative;
    background-color: blue;
    text-align: center;
    color: black;
    width: calc(100% / 12 * 3);
    margin-top: 5%;
    margin-left: 35%;
    font-size: 20px;
}
/* Define the transition effect for the images */
#about1,
#about2 {
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out; /* Transition effect */
}

/* Define the visible state for the images */
#about1.visible,
#about2.visible {
    opacity: 1; /* Make the image visible */
}
