@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

input[type=text],
select {
    position: relative;
    width: calc(100%/ 12*12);
    padding: 0.5%;
    /* margin: 1%; */
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
}

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins';
    background: linear-gradient(to right, #e5e773, #9e9dba);     

}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    margin-left: 5%;
    font-size: 200%;
    background: none;
}
h1 {
    text-align: center;
}

.name {
    position: relative;
}

.emails {
    position: relative;
}

.note {
    position: relative;
}

.reg {
    position: relative;
    background-color: blue;
    text-align: center;
    color: black;
    width: calc(100% / 12 * 3);
    margin-top: 5%;
    margin-left: 35%;
    font-size: 20px;
}

button:hover {
    color: white; /* Change text color to blue when hovered */
    text-decoration: underline; /* Add underline when hovered */
    background-color: plum;
}